---
---

@import "{{ site.theme }}";

footer {
  display: none !important;
}

.btn {
  display: none !important;
}

table {
    border: 1px solid #CCC;
    border-collapse: collapse;
}

td {
    border: none;
}
